<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
{{> menu}}
<div class="main-container"><br>
    <form method="post" action="/add_post" id="new_post_form">
        <div class="form_container">
            <h1>{{heading}}</h1>

            <label for="title"><b>Title</b></label>
            <input type="text" id="titlebox" name="title" required>

            <label for="message"><b>Message</b></label><br>
            <textarea name="message" class="post_text" rows="10" cols="50" placeholder="What's on your mind?" required></textarea>
            <br>
            <label for="category"><b>Category</b></label><br>
            <select name="category">
            <option selected hidden style='display: none' value='Uncategorized'>Select a Category</option>    
            <option value="School">School</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Help">Help</option>
            <option value="Meta">Meta</option>
            <option value="Other">Other</option>
            </select><br>
            <br><input type="submit" value="Submit" class="form_button" id="submit_post">
        </div>
    </form>
    {{> footer}}
</div>
</body>


<script src="js/script.js"></script>

</html>