body {
    font-family: "Arial", sans-serif;


}

input {
    border-radius: 5px;
}

/* ------------------------------------------- MENU BAR ------------------------------------------- */


.home_link {
    padding: 0;
    margin: 0;
}

.home_icon {
    padding: 5px;
    max-height: 52px;
    width: auto;

}


.navbar {
    background-color: black;
    max-height: 53px;

}

.navbar-brand, .nav-link {
    color: white;
    font-family: "Arial", sans-serif ;font-size: 17px;
    font-weight: initial;

    margin-top: 4px;



}

.nav-item {

    height: 53px;
    background:#008edb;
    border: solid 1px #006aa3;
    padding-left: 7px;
    padding-right: 7px;
    float: right;

}

.nav-item:hover, .nav-link:hover {
    background: #00a5ff;
    color: white;
    text-decoration: none;


}

/* ------------------------------------------- LOGIN PAGE ------------------------------------------- */



.username {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

.form_container {
    width: 80%;
    margin: auto;

    padding: 16px;
    background-color: white;

}

#form_submit {
    margin-top: 20px;
}


.form_button {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background: #008edb;
    border-radius: 5px;
    border: none;


    /* text styles */
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Arial", sans-serif;
    font-weight: 100;




}

.form_button:hover {
    background: #00a5ff;
    color: white;
    text-decoration: none;

}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=password]:focus {
    box-shadow: none;
}


.diff_pw {
    border: 1px solid red;
    box-shadow: 0 0 0 1px red;
}

.same_pw {
    border: 1px solid green;
    box-shadow: 0 0 0 1px green;
}

#pwd_message {
    font-weight: bold;
    font-style: italic;
}

/* ------------------------------------------- NEW POST PAGE ------------------------------------------- */

.post_text {
    width: 100%;
    padding: 15px;
}


/* ------------------------------------------- FORUM PAGE ------------------------------------------- */
#message_container {
    width: 80%;
    margin: auto;
    padding: 16px;
}

#message_container h1 {
    margin-bottom: 0;
}

.message_list {
    background-color: white;
    list-style: none;
}

.message_list > li {
    float: none;
    padding: 15px 15px 0 15px;
    margin: 10px;
}

.message_list > li a {
    color: black;
    text-align: left;
}

.poster {
    text-align: right;
    margin: 0;
    font-size: 0.8em;
}

.register_add > p,
.register_add > button{
    text-align: right;
    margin-top: 0;

}

a {
    text-decoration: none;
}

.message_list > li a:hover {
    background-color: white;
    color: #336680;
    font-weight: bold;
}

.message_list > p {
    margin: auto;
}

.reg_link:visited {
    color: #336680;
}

#edit_post_form {
    display: none;
}

#edit_reply_form {
    display: none;
}

#thread_form {
    float: left;
    padding-right: 15px;
}

/* ------------------------------------------- THREAD PAGE ------------------------------------------- */
#thread_container {
    width: 80%;
    margin: auto;
    padding: 16px;
}

#replies_container {
    width: 95%;
    margin: auto 0 auto auto;
}

#replies_container ul{
    background-color: white;
}

#replies_container li{
    float: none;
    padding: 15px;
    margin: 10px;
    border-bottom: 1px solid black;
}

#replies_container textarea {
    width: 97%;
    padding: 15px;
}

ul {
    list-style: none;
}

.post_text, .edit_textarea {
    height: 100px;
    border-radius: 5px;
}

#op_container {
    border: solid lightgray 1px;
    border-radius: 5px;
    padding: 15px;
}

.reply_button {
    float: right;
}

/* ------------------------------------------- Footer CSS ------------------------------------------- */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}


.footerimg{
    width: 44px;
}

* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    position: relative;
}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    font:15px;
}
